{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexa Mainnet V6 Solver API",
    "version": "6.0.0",
    "description": "Public discovery, signed Feed, SSE, Route and execution Permit API."
  },
  "servers": [
    {
      "url": "https://solver.vsnexa.com"
    }
  ],
  "paths": {
    "/.well-known/nexa-solver.json": {
      "get": {
        "operationId": "getWellKnownDiscovery",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discovery"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/.well-known/nexa-onchain-discovery.json": {
      "get": {
        "operationId": "getOnchainDiscoveryFingerprint",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnchainDiscoveryFingerprint"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v6/solver-discovery": {
      "get": {
        "operationId": "getSolverDiscovery",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discovery"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v6/solver-feed": {
      "get": {
        "operationId": "getSignedSolverFeed",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "sourceChainId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "sourceNetworkId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ]
      }
    },
    "/api/v6/solver-feed/events": {
      "get": {
        "operationId": "streamSignedSolverFeed",
        "responses": {
          "200": {
            "description": "SSE events: feed, publication-closed and error.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v6/routes/{routeId}": {
      "get": {
        "operationId": "getRouteDetail",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteDetailResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ]
      }
    },
    "/api/v6/execution-permits/request-message": {
      "post": {
        "operationId": "buildPermitRequestMessage",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermitRequest"
              }
            }
          }
        }
      }
    },
    "/api/v6/execution-permits": {
      "post": {
        "operationId": "createExecutionPermit",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignedPermitRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ]
      }
    },
    "/api/v6/execution-permits/{fillId}": {
      "get": {
        "operationId": "getExecutionPermit",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "fillId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Bytes32": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{64}$"
      },
      "Address": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{40}$"
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": true
      },
      "Discovery": {
        "type": "object",
        "required": [
          "schema",
          "deploymentVersion",
          "deploymentStatus",
          "releaseId",
          "feedSigner",
          "endpoints"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_SOLVER_DISCOVERY_V2"
          },
          "deploymentVersion": {
            "const": 6
          },
          "deploymentStatus": {
            "const": "ACTIVE"
          },
          "releaseId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "feedSigner": {
            "$ref": "#/components/schemas/Address"
          },
          "endpoints": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "standards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonObject"
            }
          }
        }
      },
      "OnchainDiscoveryFingerprint": {
        "type": "object",
        "required": [
          "schema",
          "protocol",
          "chains",
          "sameAddressAcrossChains",
          "facade",
          "facadeRuntimeCodeHash",
          "selectors",
          "events",
          "erc7683",
          "deployment"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_ONCHAIN_DISCOVERY_FINGERPRINT_V1"
          },
          "protocol": {
            "const": "Nexa V6"
          },
          "chains": {
            "type": "array",
            "prefixItems": [
              {
                "const": 8453
              },
              {
                "const": 56
              },
              {
                "const": 999
              }
            ]
          },
          "sameAddressAcrossChains": {
            "const": true
          },
          "facade": {
            "$ref": "#/components/schemas/Address"
          },
          "facadeRuntimeCodeHash": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "selectors": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "events": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "erc7683": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "deployment": {
            "$ref": "#/components/schemas/JsonObject"
          }
        },
        "additionalProperties": true
      },
      "Route": {
        "type": "object",
        "description": "The canonical route object from the active signed Feed. Route Detail returns this object without projecting or dropping fields.",
        "required": [
          "routeId",
          "quoteId",
          "dataVersion",
          "executionGeneration",
          "open",
          "sourceNetworkId",
          "sourceAssetId",
          "destinationNetworkId",
          "destinationAssetId",
          "sourceChainId",
          "destinationChainId",
          "sourceAsset",
          "destinationAsset",
          "sourceVault",
          "destinationVault",
          "sourceRouter",
          "sourceLocator",
          "destinationLocator",
          "discoveryStatus",
          "executionStatus",
          "permitAvailable",
          "publicationLane",
          "publicationRank",
          "serviceCategory",
          "feeMode",
          "serviceFeeBps",
          "dailyStatus",
          "pricingMode",
          "indicativePriceNumeratorRaw",
          "indicativePriceDenominatorRaw",
          "sourceTokenDecimals",
          "destinationTokenDecimals",
          "minimumFillInRaw",
          "maxAvailableInRaw",
          "sourceFinalityBlocks",
          "settlementWindowSeconds",
          "pricingReferenceId",
          "validAfter",
          "validUntil",
          "policyHash",
          "assumptionsHash",
          "legacyRouteId"
        ],
        "properties": {
          "routeId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "quoteId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "dataVersion": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "executionGeneration": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "open": {
            "type": "boolean"
          },
          "sourceNetworkId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "sourceAssetId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "destinationNetworkId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "destinationAssetId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "sourceChainId": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9]+$"
          },
          "destinationChainId": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9]+$"
          },
          "sourceAsset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "destinationAsset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceVault": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "destinationVault": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceRouter": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceLocator": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "destinationLocator": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "discoveryStatus": {
            "type": "string"
          },
          "executionStatus": {
            "type": "string"
          },
          "permitAvailable": {
            "type": "boolean"
          },
          "publicationLane": {
            "type": "string"
          },
          "publicationRank": {
            "type": "integer",
            "minimum": 0
          },
          "serviceCategory": {
            "type": "string"
          },
          "feeMode": {
            "type": "string"
          },
          "serviceFeeBps": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "dailyStatus": {
            "type": "string"
          },
          "pricingMode": {
            "const": "INDICATIVE_ENVELOPE_REPRICE_AT_PERMIT"
          },
          "indicativePriceNumeratorRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "indicativePriceDenominatorRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "sourceTokenDecimals": {
            "type": "integer",
            "minimum": 0
          },
          "destinationTokenDecimals": {
            "type": "integer",
            "minimum": 0
          },
          "minimumFillInRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "maxAvailableInRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "sourceFinalityBlocks": {
            "type": "integer",
            "minimum": 0
          },
          "settlementWindowSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "pricingReferenceId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "validAfter": {
            "type": "integer",
            "minimum": 0
          },
          "validUntil": {
            "type": "integer",
            "minimum": 0
          },
          "policyHash": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "assumptionsHash": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Bytes32"
              },
              {
                "type": "null"
              }
            ]
          },
          "legacyRouteId": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Bytes32"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "RouteDetailResponse": {
        "type": "object",
        "required": [
          "ok",
          "route",
          "metrics"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "route": {
            "$ref": "#/components/schemas/Route"
          },
          "metrics": {
            "type": "object",
            "description": "Unsigned, non-authoritative operational telemetry kept separate from the canonical signed Feed route.",
            "required": [
              "telemetryAvailable"
            ],
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "SignedFeed": {
        "type": "object",
        "required": [
          "schema",
          "feedHash",
          "feedSigner",
          "feedSignature",
          "validUntil",
          "routes"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_SIGNED_FEED_V1"
          },
          "feedHash": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "feedSigner": {
            "$ref": "#/components/schemas/Address"
          },
          "feedSignature": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]+$"
          },
          "validUntil": {
            "type": "integer"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          }
        }
      },
      "FeedResponse": {
        "type": "object",
        "required": [
          "ok",
          "feed"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "feed": {
            "$ref": "#/components/schemas/SignedFeed"
          }
        }
      },
      "PermitRequest": {
        "type": "object",
        "required": [
          "quoteId",
          "requestedAmountInRaw",
          "standard",
          "payer",
          "recipient",
          "idempotencyKey"
        ],
        "properties": {
          "quoteId": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "requestedAmountInRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "standard": {
            "type": "string",
            "enum": [
              "DIRECT",
              "ERC-7683",
              "OIF"
            ]
          },
          "payer": {
            "$ref": "#/components/schemas/Address"
          },
          "recipient": {
            "$ref": "#/components/schemas/Address"
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "SignedPermitRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PermitRequest"
          },
          {
            "type": "object",
            "required": [
              "requestSignature"
            ],
            "properties": {
              "requestSignature": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]+$"
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "const": false
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Request rejected or publication gate closed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
