{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nexa V6 Solver Integration API",
    "version": "6.3.0",
    "description": "Machine-readable Nexa V6 discovery, signed active-set feed, route detail, and execution-permit surface. Static discovery endpoints perform no database, RPC, timer, or transaction work."
  },
  "servers": [
    {
      "url": "https://solver.vsnexa.com"
    }
  ],
  "tags": [
    {
      "name": "Discovery"
    },
    {
      "name": "Feed"
    },
    {
      "name": "Routes"
    },
    {
      "name": "Permits"
    }
  ],
  "paths": {
    "/.well-known/nexa-solver.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getSolverManifest",
        "responses": {
          "200": {
            "description": "Canonical Solver discovery manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolverDiscovery"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/nexa-onchain-discovery.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getOnchainDiscovery",
        "responses": {
          "200": {
            "description": "On-chain fingerprint and scanner hints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnchainDiscoveryFingerprint"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "This OpenAPI 3.1 document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "openapi",
                    "info",
                    "paths",
                    "components"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/nexa-standards.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getStandardsManifest",
        "responses": {
          "200": {
            "description": "ERC-7683 and OIF machine integration metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardsManifest"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/solver-discovery": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getSolverDiscovery",
        "responses": {
          "200": {
            "description": "Canonical Solver discovery manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolverDiscovery"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/solver-feed": {
      "get": {
        "tags": [
          "Feed"
        ],
        "operationId": "getSolverFeed",
        "parameters": [
          {
            "name": "sourceChainId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          },
          {
            "name": "sourceNetworkId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{64}$",
              "description": "32-byte hexadecimal value."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed active-set feed. Verify signedPayload, never a filtered route view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or filter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/solver-feed/events": {
      "get": {
        "tags": [
          "Feed"
        ],
        "operationId": "streamSolverFeed",
        "description": "LISTEN/NOTIFY-backed current-state stream with no replay and no polling. No Last-Event-ID sends current immediately; an older ID sends current immediately; an ID equal to current suppresses the initial event; an invalid ID is ignored and current is sent. Subsequent confirmed publications are always emitted.",
        "parameters": [
          {
            "name": "Last-Event-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:0|[1-9][0-9]*)$"
            },
            "description": "Feed dataVersion used only to suppress an identical initial current-state event. No history is replayed."
          }
        ],
        "responses": {
          "200": {
            "description": "SSE events: feed (id=dataVersion, data=SignedFeed), publication-closed, or error.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "x-nexa-events": {
              "feed": {
                "schema": {
                  "$ref": "#/components/schemas/SignedFeed"
                },
                "id": "dataVersion"
              },
              "publication-closed": {
                "schema": {
                  "$ref": "#/components/schemas/SseErrorEvent"
                }
              },
              "error": {
                "schema": {
                  "$ref": "#/components/schemas/SseErrorEvent"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/routes/{routeId}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "operationId": "getRouteDetail",
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{64}$",
              "description": "32-byte hexadecimal value."
            },
            "description": "Canonical routeId from the active signed feed."
          }
        ],
        "responses": {
          "200": {
            "description": "Exact canonical active signed-feed route plus separate observational metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/execution-permits/request-message": {
      "post": {
        "tags": [
          "Permits"
        ],
        "operationId": "buildPermitRequestMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact deterministic UTF-8 message for local signing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitRequestMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or filter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency, capacity, or inventory conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Quote is no longer open or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 32 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/execution-permits": {
      "post": {
        "tags": [
          "Permits"
        ],
        "operationId": "createExecutionPermit",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
            },
            "description": "Must equal body idempotencyKey when both are supplied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PermitRequest"
                  },
                  {
                    "type": "object",
                    "required": [
                      "requestSignature"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing permit returned for an identical idempotent request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionPermitResponse"
                }
              }
            }
          },
          "201": {
            "description": "New execution permit issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionPermitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or filter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency, capacity, or inventory conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Quote is no longer open or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 32 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Permit request rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Publication surface closed or required authority unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v6/execution-permits/{fillId}": {
      "get": {
        "tags": [
          "Permits"
        ],
        "operationId": "getExecutionPermit",
        "parameters": [
          {
            "name": "fillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{64}$",
              "description": "32-byte hexadecimal value."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current persisted permit status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal runtime error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "const": false
          },
          "error": {
            "type": "string"
          },
          "reasonCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "diagnostics": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SseErrorEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Route": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "dataVersion",
          "routeId",
          "quoteId",
          "sourceNetworkId",
          "sourceAssetId",
          "destinationNetworkId",
          "destinationAssetId",
          "sourceChainId",
          "destinationChainId",
          "sourceAsset",
          "destinationAsset",
          "sourceVault",
          "destinationVault",
          "sourceRouter",
          "sourceLocator",
          "destinationLocator",
          "discoveryStatus",
          "executionStatus",
          "permitAvailable",
          "publicationLane",
          "publicationRank",
          "serviceCategory",
          "feeMode",
          "serviceFeeBps",
          "sourceTokenDecimals",
          "destinationTokenDecimals",
          "pricingReferenceId",
          "executionGeneration",
          "sourceFinalityBlocks",
          "settlementWindowSeconds",
          "validAfter",
          "validUntil",
          "policyHash",
          "assumptionsHash",
          "legacyRouteId",
          "dailyStatus",
          "open",
          "pricingMode",
          "indicativePriceNumeratorRaw",
          "indicativePriceDenominatorRaw",
          "minimumFillInRaw",
          "maxAvailableInRaw"
        ],
        "properties": {
          "dataVersion": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "routeId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "quoteId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceNetworkId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceAssetId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "destinationNetworkId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "destinationAssetId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceChainId": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?:0|[1-9][0-9]*)$",
                "description": "Unsigned integer encoded as a base-10 string."
              },
              {
                "type": "null"
              }
            ]
          },
          "destinationChainId": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?:0|[1-9][0-9]*)$",
                "description": "Unsigned integer encoded as a base-10 string."
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceAsset": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              {
                "type": "null"
              }
            ]
          },
          "destinationAsset": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceVault": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              {
                "type": "null"
              }
            ]
          },
          "destinationVault": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceRouter": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceLocator": {
            "type": "object",
            "description": "Network-specific locator. Connector-defined keys are included in canonical JSON.",
            "additionalProperties": true
          },
          "destinationLocator": {
            "type": "object",
            "description": "Network-specific locator. Connector-defined keys are included in canonical JSON.",
            "additionalProperties": true
          },
          "discoveryStatus": {
            "const": "DISCOVERABLE"
          },
          "executionStatus": {
            "enum": [
              "OPEN",
              "PAUSED",
              "TEMP_UNAVAILABLE"
            ]
          },
          "permitAvailable": {
            "type": "boolean"
          },
          "publicationLane": {
            "enum": [
              "L1",
              "L2",
              "L3",
              "L4"
            ]
          },
          "publicationRank": {
            "type": "integer",
            "minimum": 0
          },
          "serviceCategory": {
            "type": "string"
          },
          "feeMode": {
            "type": "string"
          },
          "serviceFeeBps": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 10000
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceTokenDecimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 78
          },
          "destinationTokenDecimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 78
          },
          "pricingReferenceId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "executionGeneration": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceFinalityBlocks": {
            "type": "integer",
            "minimum": 1
          },
          "settlementWindowSeconds": {
            "type": "integer",
            "minimum": 1
          },
          "validAfter": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "validUntil": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "policyHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "assumptionsHash": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              {
                "type": "null"
              }
            ]
          },
          "legacyRouteId": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              {
                "type": "null"
              }
            ]
          },
          "dailyStatus": {
            "enum": [
              "OPEN",
              "CLOSED"
            ]
          },
          "open": {
            "type": "boolean"
          },
          "pricingMode": {
            "const": "INDICATIVE_ENVELOPE_REPRICE_AT_PERMIT"
          },
          "indicativePriceNumeratorRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "indicativePriceDenominatorRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "minimumFillInRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "maxAvailableInRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          }
        }
      },
      "SignedFeedPayload": {
        "type": "object",
        "additionalProperties": false,
        "description": "Sole cryptographic authority: feedHash and feedSignature cover this complete unfiltered object.",
        "required": [
          "schema",
          "releaseId",
          "dataVersion",
          "generatedAt",
          "validUntil",
          "routes"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_SIGNED_FEED_V1"
          },
          "releaseId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "dataVersion": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "generatedAt": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "validUntil": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          }
        }
      },
      "SignedFeed": {
        "type": "object",
        "additionalProperties": false,
        "description": "signedPayload is the only signed authority. routeDetailTemplate and actionableRoutes are convenience metadata outside the cryptographic authority. Top-level routes/openRoutes are filterable convenience views and must not be substituted during verification. Actionable economics are estimates, not execution guarantees; Permit issuance performs fresh amount-bound repricing and authorization.",
        "required": [
          "schema",
          "releaseId",
          "dataVersion",
          "generatedAt",
          "validUntil",
          "signedPayload",
          "routeDetailTemplate",
          "actionableRoutes",
          "routes",
          "openRoutes",
          "feedHash",
          "feedSigner",
          "feedSignature",
          "publicationGasWei",
          "publicationTransactionHashes",
          "routeCount",
          "openRouteCount",
          "returnedRouteCount",
          "returnedOpenRouteCount"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_SIGNED_FEED_V1"
          },
          "releaseId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "dataVersion": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "generatedAt": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "validUntil": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "signedPayload": {
            "$ref": "#/components/schemas/SignedFeedPayload"
          },
          "routeDetailTemplate": {
            "type": "string",
            "const": "https://solver.vsnexa.com/api/v6/routes/{routeId}",
            "description": "Feed-level read-only navigation template. Replace {routeId} with a route.routeId. This field is not part of signedPayload and is not cryptographic authority."
          },
          "actionableRoutes": {
            "type": "array",
            "maxItems": 10,
            "description": "Deterministic, evidence-backed convenience shortlist. Resolve routeId/quoteId against signedPayload.routes before use. Missing evidence excludes only this shortlist and never removes a canonical signed route.",
            "items": {
              "$ref": "#/components/schemas/ActionableRoute"
            }
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "openRoutes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "feedHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "feedSigner": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "feedSignature": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{130}$"
          },
          "publicationGasWei": {
            "const": "0"
          },
          "publicationTransactionHashes": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{64}$",
              "description": "32-byte hexadecimal value."
            }
          },
          "routeCount": {
            "type": "integer",
            "minimum": 0
          },
          "openRouteCount": {
            "type": "integer",
            "minimum": 0
          },
          "returnedRouteCount": {
            "type": "integer",
            "minimum": 0
          },
          "returnedOpenRouteCount": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ActionableRoute": {
        "type": "object",
        "additionalProperties": false,
        "description": "Non-authoritative economic estimate for route selection. Verify the corresponding signed route and obtain an Execution Permit before execution.",
        "required": [
          "routeId",
          "quoteId",
          "pricingReferenceId",
          "indicativeNotionalUsd",
          "executableNotionalUsd",
          "estimatedSourceGasUsd",
          "expectedEdgeAfterSourceGasBps",
          "economicsObservedAt",
          "economicsValidUntil",
          "pricingModelVersion"
        ],
        "properties": {
          "routeId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "quoteId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "pricingReferenceId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "indicativeNotionalUsd": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
            "description": "Base-10 USD estimate string; never execution authority."
          },
          "executableNotionalUsd": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
            "description": "Base-10 USD estimate string; never execution authority."
          },
          "estimatedSourceGasUsd": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
            "description": "Base-10 USD estimate string; never execution authority."
          },
          "expectedEdgeAfterSourceGasBps": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
            "description": "Base-10 USD estimate string; never execution authority."
          },
          "economicsObservedAt": {
            "type": "string",
            "format": "date-time"
          },
          "economicsValidUntil": {
            "type": "string",
            "format": "date-time"
          },
          "pricingModelVersion": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "FeedResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "feed"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "feed": {
            "$ref": "#/components/schemas/SignedFeed"
          }
        }
      },
      "RouteMetrics": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "telemetryAvailable",
          "permitConversionRate",
          "fillConversionRate"
        ],
        "properties": {
          "telemetryAvailable": {
            "type": "boolean"
          },
          "source": {
            "const": "V6_PUBLICATION_LEARNING_STATE"
          },
          "feed_exposures": {
            "type": "integer",
            "minimum": 0
          },
          "permit_requests": {
            "type": "integer",
            "minimum": 0
          },
          "permits_issued": {
            "type": "integer",
            "minimum": 0
          },
          "source_observed": {
            "type": "integer",
            "minimum": 0
          },
          "paid": {
            "type": "integer",
            "minimum": 0
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "permitConversionRate": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "fillConversionRate": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RouteDetailResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "route",
          "metrics"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "route": {
            "$ref": "#/components/schemas/Route"
          },
          "metrics": {
            "$ref": "#/components/schemas/RouteMetrics"
          }
        }
      },
      "PermitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "quoteId",
          "requestedAmountInRaw",
          "idempotencyKey"
        ],
        "allOf": [
          {
            "anyOf": [
              {
                "required": [
                  "payer"
                ]
              },
              {
                "required": [
                  "payerAccountId",
                  "payerLocator"
                ]
              }
            ]
          },
          {
            "anyOf": [
              {
                "required": [
                  "recipient"
                ]
              },
              {
                "required": [
                  "recipientAccountId",
                  "recipientLocator"
                ]
              }
            ]
          }
        ],
        "properties": {
          "quoteId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "requestedAmountInRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "standard": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$",
            "description": "Defaults to DIRECT; canonical form is uppercase."
          },
          "payer": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "recipient": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "payerAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "recipientAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "payerLocator": {
            "type": "object",
            "description": "Network-specific locator. Connector-defined keys are included in canonical JSON.",
            "additionalProperties": true
          },
          "recipientLocator": {
            "type": "object",
            "description": "Network-specific locator. Connector-defined keys are included in canonical JSON.",
            "additionalProperties": true
          },
          "idempotencyKey": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
          },
          "requestSignature": {
            "type": "string",
            "description": "EIP-191 signature for EVM ownership, or connector ownership proof."
          }
        }
      },
      "PermitRequestMessageResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "message"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "message": {
            "type": "string",
            "description": "Exact deterministic UTF-8 message to sign locally."
          }
        }
      },
      "ExecutionPermit": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "releaseId",
          "fillId",
          "permitNonce",
          "sourceNetworkId",
          "sourceAssetId",
          "destinationNetworkId",
          "destinationAssetId",
          "sourceVaultAccountId",
          "destinationVaultAccountId",
          "payerAccountId",
          "recipientAccountId",
          "routeId",
          "quoteId",
          "policyHash",
          "dataVersion",
          "executionGeneration",
          "validAfter",
          "validUntil",
          "sourceFinalityBlocks",
          "settlementWindowSeconds",
          "sourceChainId",
          "destinationChainId",
          "sourceAsset",
          "destinationAsset",
          "sourceVault",
          "destinationVault",
          "sourceRouter",
          "payer",
          "recipient",
          "amountInRaw",
          "amountOutRaw",
          "publicationLane",
          "serviceCategory",
          "feeMode",
          "serviceFeeBps"
        ],
        "properties": {
          "releaseId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "fillId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "permitNonce": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceNetworkId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceAssetId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "destinationNetworkId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "destinationAssetId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "sourceVaultAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "destinationVaultAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "payerAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "recipientAccountId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "routeId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "quoteId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "policyHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "dataVersion": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "executionGeneration": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "validAfter": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "validUntil": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "sourceFinalityBlocks": {
            "type": "integer",
            "minimum": 1
          },
          "settlementWindowSeconds": {
            "type": "integer",
            "minimum": 1
          },
          "sourceChainId": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "destinationChainId": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "sourceAsset": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "destinationAsset": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "sourceVault": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "destinationVault": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "sourceRouter": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "payer": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "recipient": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "amountInRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "amountOutRaw": {
            "type": "string",
            "pattern": "^(?:0|[1-9][0-9]*)$",
            "description": "Unsigned integer encoded as a base-10 string."
          },
          "publicationLane": {
            "enum": [
              "L1",
              "L2",
              "L3",
              "L4"
            ]
          },
          "serviceCategory": {
            "type": "string"
          },
          "feeMode": {
            "type": "string"
          },
          "serviceFeeBps": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "DirectExecution": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema",
          "target",
          "function",
          "transactionCount",
          "inventory",
          "pricing"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_V6_DIRECT_EXECUTION_V1"
          },
          "target": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "EVM address."
          },
          "function": {
            "const": "fillDirect"
          },
          "transactionCount": {
            "const": 1
          },
          "inventory": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source",
                  "snapshotId",
                  "capturedAt",
                  "ageMs",
                  "physicalRaw",
                  "effectiveLiabilityRaw",
                  "effectiveAccountingHoldRaw",
                  "activeClearingCommitmentRaw"
                ],
                "properties": {
                  "source": {
                    "const": "V6_PERSISTED_INVENTORY_SNAPSHOT"
                  },
                  "snapshotId": {
                    "type": "string"
                  },
                  "capturedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ageMs": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "physicalRaw": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$",
                    "description": "Unsigned integer encoded as a base-10 string."
                  },
                  "effectiveLiabilityRaw": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$",
                    "description": "Unsigned integer encoded as a base-10 string."
                  },
                  "effectiveAccountingHoldRaw": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$",
                    "description": "Unsigned integer encoded as a base-10 string."
                  },
                  "activeClearingCommitmentRaw": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$",
                    "description": "Unsigned integer encoded as a base-10 string."
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "pricing": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "pricingMode",
              "modelVersion",
              "pricingReferenceId",
              "publicationLane",
              "serviceCategory",
              "feeMode",
              "serviceFeeBps",
              "snapshotId",
              "routeSnapshotId",
              "quoteObservedAt",
              "pricingCycleId",
              "pricingCycleObservedAt",
              "pricingCycleValidUntil",
              "payoutEconomicCeilingRequired",
              "payoutEconomicCeiling",
              "evidence",
              "executionCapacity"
            ],
            "properties": {
              "pricingMode": {
                "const": "FRESH_AMOUNT_BOUND"
              },
              "modelVersion": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "pricingReferenceId": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              "publicationLane": {
                "enum": [
                  "L1",
                  "L2",
                  "L3",
                  "L4"
                ]
              },
              "serviceCategory": {
                "type": "string"
              },
              "feeMode": {
                "type": "string"
              },
              "serviceFeeBps": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "routeSnapshotId": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "quoteObservedAt": {
                "type": "string",
                "format": "date-time"
              },
              "pricingCycleId": {
                "type": "string"
              },
              "pricingCycleObservedAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "pricingCycleValidUntil": {
                "type": "string",
                "format": "date-time"
              },
              "payoutEconomicCeilingRequired": {
                "type": "boolean"
              },
              "payoutEconomicCeiling": {
                "anyOf": [
                  {
                    "type": "object",
                    "additionalProperties": true
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "evidence": {
                "type": "object",
                "additionalProperties": true
              },
              "executionCapacity": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "ExecutionPermitEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "fillId",
          "state",
          "idempotencyKey",
          "expiresAt",
          "permit",
          "permitDigest",
          "permitSignature",
          "execution",
          "totalTransactionCount",
          "sourceTxHash",
          "payoutTxHash",
          "publicationLane",
          "serviceCategory",
          "feeMode",
          "serviceFeeBps"
        ],
        "properties": {
          "fillId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "state": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "expiresAt": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp in seconds."
          },
          "permit": {
            "$ref": "#/components/schemas/ExecutionPermit"
          },
          "permitDigest": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "permitSignature": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{130}$"
          },
          "execution": {
            "$ref": "#/components/schemas/DirectExecution"
          },
          "totalTransactionCount": {
            "const": 2
          },
          "sourceTxHash": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              {
                "type": "null"
              }
            ]
          },
          "payoutTxHash": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              {
                "type": "null"
              }
            ]
          },
          "publicationLane": {
            "enum": [
              "L1",
              "L2",
              "L3",
              "L4"
            ]
          },
          "serviceCategory": {
            "type": "string"
          },
          "feeMode": {
            "type": "string"
          },
          "serviceFeeBps": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ExecutionPermitResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "idempotent",
          "permit"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "idempotent": {
            "type": "boolean"
          },
          "permit": {
            "$ref": "#/components/schemas/ExecutionPermitEnvelope"
          }
        }
      },
      "PermitStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "permit"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "permit": {
            "$ref": "#/components/schemas/ExecutionPermitEnvelope"
          }
        }
      },
      "ScannerHints": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema",
          "generatedFrom",
          "protocol",
          "releaseId",
          "deploymentVersion",
          "status",
          "supportedChainIds",
          "sameAddressAcrossChains",
          "contracts",
          "probe",
          "eventDiscovery",
          "deterministicDeployment",
          "standards"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_SCANNER_HINTS_V1"
          },
          "generatedFrom": {
            "const": "CANONICAL_ONCHAIN_DISCOVERY_FINGERPRINT"
          },
          "protocol": {
            "const": "Nexa V6"
          },
          "releaseId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "deploymentVersion": {
            "const": 6
          },
          "status": {
            "const": "ACTIVE"
          },
          "supportedChainIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "sameAddressAcrossChains": {
            "const": true
          },
          "contracts": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "facade",
              "registry",
              "router",
              "erc7683Resolver",
              "oifModule"
            ],
            "properties": {
              "facade": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "role",
                  "address",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  }
                }
              },
              "registry": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "role",
                  "address",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  }
                }
              },
              "router": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "role",
                  "address",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  }
                }
              },
              "erc7683Resolver": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "role",
                  "address",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  }
                }
              },
              "oifModule": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "role",
                  "address",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  }
                }
              }
            }
          },
          "probe": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "mode",
              "externalScannerOnly",
              "executedByNexa",
              "performsWrites",
              "pollingRequired",
              "methods",
              "steps"
            ],
            "properties": {
              "mode": {
                "const": "EXTERNAL_SCANNER_READ_ONLY"
              },
              "externalScannerOnly": {
                "const": true
              },
              "executedByNexa": {
                "const": false
              },
              "performsWrites": {
                "const": false
              },
              "pollingRequired": {
                "const": false
              },
              "methods": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "discoveryURI",
                  "isLive",
                  "systemState",
                  "routeCount"
                ],
                "properties": {
                  "discoveryURI": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "contract",
                      "address",
                      "signature",
                      "selector",
                      "stateMutability",
                      "returns"
                    ],
                    "properties": {
                      "contract": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "signature": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{8}$",
                        "description": "Four-byte function selector."
                      },
                      "stateMutability": {
                        "enum": [
                          "pure",
                          "view"
                        ]
                      },
                      "returns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "name",
                            "type"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "isLive": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "contract",
                      "address",
                      "signature",
                      "selector",
                      "stateMutability",
                      "returns"
                    ],
                    "properties": {
                      "contract": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "signature": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{8}$",
                        "description": "Four-byte function selector."
                      },
                      "stateMutability": {
                        "enum": [
                          "pure",
                          "view"
                        ]
                      },
                      "returns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "name",
                            "type"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "systemState": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "contract",
                      "address",
                      "signature",
                      "selector",
                      "stateMutability",
                      "returns"
                    ],
                    "properties": {
                      "contract": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "signature": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{8}$",
                        "description": "Four-byte function selector."
                      },
                      "stateMutability": {
                        "enum": [
                          "pure",
                          "view"
                        ]
                      },
                      "returns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "name",
                            "type"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "routeCount": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "contract",
                      "address",
                      "signature",
                      "selector",
                      "stateMutability",
                      "returns"
                    ],
                    "properties": {
                      "contract": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "signature": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{8}$",
                        "description": "Four-byte function selector."
                      },
                      "stateMutability": {
                        "enum": [
                          "pure",
                          "view"
                        ]
                      },
                      "returns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "name",
                            "type"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "steps": {
                "type": "array",
                "minItems": 9,
                "maxItems": 9,
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "order",
                    "id",
                    "required"
                  ],
                  "properties": {
                    "order": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "id": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean"
                    },
                    "optional": {
                      "type": "boolean"
                    },
                    "transport": {
                      "enum": [
                        "JSON_RPC",
                        "HTTPS"
                      ]
                    },
                    "rpcMethod": {
                      "enum": [
                        "eth_getCode",
                        "eth_call",
                        "eth_getLogs"
                      ]
                    },
                    "operation": {
                      "type": "string"
                    },
                    "inputFromStep": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{40}$",
                      "description": "EVM address."
                    },
                    "supportedChainIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "call": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "contract",
                        "address",
                        "signature",
                        "selector",
                        "stateMutability",
                        "returns"
                      ],
                      "properties": {
                        "contract": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string",
                          "pattern": "^0x[0-9a-fA-F]{40}$",
                          "description": "EVM address."
                        },
                        "signature": {
                          "type": "string"
                        },
                        "selector": {
                          "type": "string",
                          "pattern": "^0x[0-9a-fA-F]{8}$",
                          "description": "Four-byte function selector."
                        },
                        "stateMutability": {
                          "enum": [
                            "pure",
                            "view"
                          ]
                        },
                        "returns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "name",
                              "type"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "32-byte hexadecimal value."
                      }
                    },
                    "method": {
                      "const": "GET"
                    },
                    "uriFromStep": {
                      "type": "string"
                    },
                    "expected": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "eventDiscovery": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "SourceFillV6"
            ],
            "properties": {
              "SourceFillV6": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "emittingContract",
                  "address",
                  "supportedChainIds",
                  "signature",
                  "topic0",
                  "indexedFields",
                  "indexedTopicPositions",
                  "nonIndexedFields",
                  "discoveryMapping"
                ],
                "properties": {
                  "emittingContract": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "signature": {
                    "type": "string"
                  },
                  "topic0": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "indexedFields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "type",
                        "topicPosition"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "topicPosition": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 3
                        }
                      }
                    }
                  },
                  "indexedTopicPositions": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3
                    }
                  },
                  "nonIndexedFields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "discoveryMapping": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "router",
                      "facade",
                      "discoveryURI"
                    ],
                    "properties": {
                      "router": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "facade": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "EVM address."
                      },
                      "discoveryURI": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "deterministicDeployment": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "method",
              "factory",
              "salt",
              "initCodeHash",
              "expectedFacadeAddress",
              "supportedChainIds",
              "deploymentBlocks",
              "deploymentTransactions",
              "sameAddressAcrossChains"
            ],
            "properties": {
              "method": {
                "const": "CREATE2"
              },
              "factory": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              "salt": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              "initCodeHash": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              "expectedFacadeAddress": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              "supportedChainIds": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "deploymentBlocks": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "deploymentTransactions": {
                "type": "object",
                "additionalProperties": {
                  "type": "string",
                  "pattern": "^0x[0-9a-fA-F]{64}$",
                  "description": "32-byte hexadecimal value."
                }
              },
              "sameAddressAcrossChains": {
                "const": true
              }
            }
          },
          "standards": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "erc7683",
              "oif"
            ],
            "properties": {
              "erc7683": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "supportedChainIds",
                  "standardId",
                  "erc165InterfaceIds",
                  "selectors",
                  "selectorSignatures",
                  "router",
                  "expectedRuntimeCodeHash"
                ],
                "properties": {
                  "resolver": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "module": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "standardId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "compatibilityLevel": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "compatibilityLevelName": {
                    "type": "string"
                  },
                  "executable": {
                    "type": "boolean"
                  },
                  "erc165InterfaceIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{8}$",
                      "description": "Four-byte function selector."
                    }
                  },
                  "selectors": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{8}$",
                      "description": "Four-byte function selector."
                    }
                  },
                  "selectorSignatures": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "router": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  }
                }
              },
              "oif": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "supportedChainIds",
                  "standardId",
                  "erc165InterfaceIds",
                  "selectors",
                  "selectorSignatures",
                  "router",
                  "expectedRuntimeCodeHash"
                ],
                "properties": {
                  "resolver": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "module": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "standardId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "compatibilityLevel": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "compatibilityLevelName": {
                    "type": "string"
                  },
                  "executable": {
                    "type": "boolean"
                  },
                  "erc165InterfaceIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{8}$",
                      "description": "Four-byte function selector."
                    }
                  },
                  "selectors": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{8}$",
                      "description": "Four-byte function selector."
                    }
                  },
                  "selectorSignatures": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "router": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  }
                }
              }
            }
          }
        }
      },
      "StandardPayloadEncoding": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mediaType",
          "solidity",
          "tuple",
          "source"
        ],
        "properties": {
          "mediaType": {
            "const": "application/vnd.nexa.execution-permit-v6+abi"
          },
          "solidity": {
            "const": "abi.encode(ExecutionPermit,bytes)"
          },
          "tuple": {
            "type": "array",
            "prefixItems": [
              {
                "const": "NexaMainnetV6Types.ExecutionPermit permit"
              },
              {
                "const": "bytes permitSignature"
              }
            ],
            "minItems": 2,
            "maxItems": 2
          },
          "source": {
            "type": "string"
          }
        }
      },
      "StandardsManifest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema",
          "protocol",
          "status",
          "deploymentVersion",
          "releaseId",
          "supportedChainIds",
          "sameAddressAcrossChains",
          "router",
          "payloadEncoding",
          "standards",
          "executionInvariant"
        ],
        "properties": {
          "schema": {
            "const": "NEXA_MAINNET_V6_STANDARDS_MANIFEST_V1"
          },
          "protocol": {
            "const": "Nexa V6"
          },
          "status": {
            "const": "ACTIVE"
          },
          "deploymentVersion": {
            "const": 6
          },
          "releaseId": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "32-byte hexadecimal value."
          },
          "supportedChainIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "sameAddressAcrossChains": {
            "const": true
          },
          "router": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "address",
              "expectedRuntimeCodeHash",
              "sourceExecutionFunction",
              "sourceTransactionCount"
            ],
            "properties": {
              "address": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{40}$",
                "description": "EVM address."
              },
              "expectedRuntimeCodeHash": {
                "type": "string",
                "pattern": "^0x[0-9a-fA-F]{64}$",
                "description": "32-byte hexadecimal value."
              },
              "sourceExecutionFunction": {
                "const": "fillDirect"
              },
              "sourceTransactionCount": {
                "const": 1
              }
            }
          },
          "payloadEncoding": {
            "$ref": "#/components/schemas/StandardPayloadEncoding"
          },
          "standards": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "erc7683",
              "oif"
            ],
            "properties": {
              "erc7683": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "standardId",
                  "compatibilityLevel",
                  "executable",
                  "moduleAddress",
                  "expectedRuntimeCodeHash",
                  "supportedChainIds",
                  "sameAddressAcrossChains",
                  "router",
                  "selectors",
                  "selectorSignatures",
                  "erc165",
                  "payloadEncoding",
                  "discoveryMethod",
                  "resolutionTransport",
                  "resolveExecution"
                ],
                "properties": {
                  "name": {
                    "enum": [
                      "ERC-7683",
                      "OIF"
                    ]
                  },
                  "standardId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "compatibilityLevel": {
                    "enum": [
                      "EXECUTABLE_RESOLVER",
                      "DISCOVERY_DESCRIPTION_ONLY"
                    ]
                  },
                  "compatibilityLevelId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "executable": {
                    "type": "boolean"
                  },
                  "moduleAddress": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "expectedRuntimeCodeHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte hexadecimal value."
                  },
                  "supportedChainIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "sameAddressAcrossChains": {
                    "const": true
                  },
                  "router": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "EVM address."
                  },
                  "selectors": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{8}$",
                      "description": "Four-byte function selector."
                    }
                  },
                  "selectorSignatures": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "erc165": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "supported",
                      "interfaceIds"
                    ],
                    "properties": {
                      "supported": {
                        "const": true
                      },
                      "interfaceIds": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^0x[0-9a-fA-F]{8}$",
                          "description": "Four-byte function selector."
                        }
                      }
                    }
                  },
[...]
